#juegos h3,h4{
    color: white;
    text-align: center;
}
#juegos .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#juegos article{
    margin:  15px;
}
#juegos img {
    width: 100%;
    border-radius: 5%;
    max-width: 400px;
    
}