#menu-bar{
    display: none;
}
header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
header label:hover{
    color: #0071BC;
}
.menu{
    position: absolute;
    width: 50%;
    top: 50px;
    left: 0;
    height: 25vh;
    background: rgba(29, 29, 29, 0.9);
    transition: all 0.3s;
    transform: translate(200%);
    display: none;
}
.menu a{
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.menu a:hover {
    background: rgba(24, 11, 100, 0.3);
}
#menu-bar:checked ~ .menu {
    display: initial;
    transform: translate(100%);
}

@media (min-width: 1024px){
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        justify-content: space-around;
    }
    .menu a{
        border: none;
        background: black;
        
    }
    header label {
        display: none;
    }
}